@import "tailwindcss";



*{
  /* outline: 1px solid red; */
}

@theme{
  --color-primary-50: #f1f8f3;
--color-primary-100: #ddeee0;
--color-primary-200: #bedcc5;
--color-primary-300: #92c3a2;
--color-primary-400: #63a479;
--color-primary-500: #42875c;
--color-primary-600: #367850;
--color-primary-700: #26563a;
--color-primary-800: #20452f;
--color-primary-900: #1b3928;
--color-primary-950: #0e2016;
}

input[type="text"],
input[type="email"],
input[type="password"],textarea{
  @apply bg-blue-200 border-2 border-blue-500;
}

input[type="submit"],button{
  @apply bg-blue-600 hover:bg-blue-500 text-white;
}

select{
  @apply border-2 border-blue-500;
}